// set custom hex colors
$siteBgColorCustom:    #e6f0fa;     // light blue
$sidebarBgColorCustom: #fff8f5;     // bright apricot
$textColorCustom: #000;             // black
$sidebarTextColorCustom: #000;      // black
$headlineColorCustom: #2a27ba;      // blue
$headingColorCustom: #c98c5d;       // orange
$bodyLinkColorCustom: #231f20;      // black
$navLinkColorCustom: #231f20;       // black
$sidebarLinkColorCustom: #c98c5d;   // orange
$footerTextColorCustom: #231f20;    // black
$buttonTextColorCustom: #231f20;    // black
$buttonHoverTextColorCustom: #fff;  // white
$buttonBgColorCustom: #fffbf1;      // latte
$buttonHoverBgColorCustom: #231f20; // black
$borderColorCustom: #088cb8;        // blue
